In [28]:
import requests
import pandas as pd
from pandas import json_normalize

In [31]:
def fetch_tertiary_education_data(country_code='CO'):
    """
    Fetch tertiary (higher) education enrollment rate data for a given country using the World Bank API.
    
    Args:
    - country_code (str): ISO 2-character country code, default is 'CO' for Colombia.
    
    Returns:
    - DataFrame: Pandas DataFrame containing the response data.
    """
    url = f"http://api.worldbank.org/v2/country/{country_code}/indicator/SE.TER.ENRR?format=json&per_page=500"
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()[1]  # The actual data is in the second element of the response list
        # Normalizar columnas 'indicator' y 'country' del JSON
        df = json_normalize(data)
        # Si necesitas renombrar las columnas para que tengan nombres más amigables, puedes hacerlo aquí
        # Ejemplo: df.rename(columns={'indicator.value': 'Indicator', 'country.value': 'Country'}, inplace=True)
        return df
    else:
        print(f"Error fetching data: {response.status_code}")
        return None

# Fetch data and print the DataFrame
df = fetch_tertiary_education_data()
if df is not None:
    print(df.head())  # Mostrar las primeras filas del DataFrame para revisión
else:
    print("No se pudo obtener los datos.")

  countryiso3code  date      value unit obs_status  decimal indicator.id  \
0             COL  2022        NaN                        0  SE.TER.ENRR
1             COL  2021  58.315922                        0  SE.TER.ENRR
2             COL  2020  55.733109                        0  SE.TER.ENRR
3             COL  2019  56.666302                        0  SE.TER.ENRR
4             COL  2018  57.320541                        0  SE.TER.ENRR

                         indicator.value country.id country.value
0  School enrollment, tertiary (% gross)         CO      Colombia
1  School enrollment, tertiary (% gross)         CO      Colombia
2  School enrollment, tertiary (% gross)         CO      Colombia
3  School enrollment, tertiary (% gross)         CO      Colombia
4  School enrollment, tertiary (% gross)         CO      Colombia

In [32]:
df.head(5)

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,COL,2022,NaN,,,0,SE.TER.ENRR,"School enrollment, tertiary (% gross)",CO,Colombia
1,COL,2021,58.315922,,,0,SE.TER.ENRR,"School enrollment, tertiary (% gross)",CO,Colombia
2,COL,2020,55.733109,,,0,SE.TER.ENRR,"School enrollment, tertiary (% gross)",CO,Colombia
3,COL,2019,56.666302,,,0,SE.TER.ENRR,"School enrollment, tertiary (% gross)",CO,Colombia
4,COL,2018,57.320541,,,0,SE.TER.ENRR,"School enrollment, tertiary (% gross)",CO,Colombia